<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <input v-model.trim="message" type="text"><br>
    <input v-model.number="number" type="number"><br>
    <select v-model="jiwoo.pokemon">
      <option value="꼬부기">꼬부기</option>
      <option value="이상해씨">이상해씨</option>
      <option value="파이리">파이리</option>
    </select><br>
    <input v-model="checked" type="checkbox"><br>

    <label for="water">물</label>
    <input v-model="type" value="water" type="radio" id="water">
    <label for="fire">불</label>
    <input v-model="type" value="fire" type="radio" id="fire">
    <label for="green">풀</label>
    <input v-model="type" value="green" type="radio" id="green">
  </div>

  <script>
    const app = new Vue({
      el : "#app",
      data : {
        jiwoo : {
          pokemon:''
        },
        message : '',
        number : 0,
        select:'',
        checked : false,
        type :''
      }
    })
  </script>
</body>
</html>